/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Red: hsl(0, 100%, 74%) 
- Green: hsl(154, 59%, 51%)

### Accent

- Blue: hsl(248, 32%, 49%)

### Neutral

- Dark Blue: hsl(249, 10%, 26%) 
- Grayish Blue: hsl(246, 25%, 77%)

## Typography

### Body Copy

- Font size: 16px

### Font

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 400, 500, 600, 700 */
:root {
  --color-primary-red: hsl(0, 100%, 74%);
  --color-primary-green: hsl(154, 59%, 51%);
  --color-accent-blue: hsl(248, 32%, 49%);
  --color-neutral-dark-blue: hsl(249, 10%, 26%);
  --color-grayish-blue: hsl(246, 25%, 77%);
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('./images/bg-intro-mobile.png');
  background-color: var(--color-primary-red);
  color: white;
  text-align: center;
  padding: 1.5rem;
}

button {
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main__p {
  line-height: 1.5;
  margin-bottom: 3rem;
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 1.8rem;
  margin-top: 3.5rem;
  margin-bottom: 2rem;
}

.btn-trial {
  color: inherit;
  background-color: var(--color-accent-blue);
  padding: 1.1rem 3rem;
  border: transparent;
  line-height: 1.5;
  border-radius: 0.8rem;
  box-shadow: 0px 10px 0px -3px rgba(0, 0, 0, 0.1);
}

.btn-trial:hover {
  background-color: hsl(248, 35%, 32%);
  transition: all 0.15s ease-in-out;
}

.btn-trial-accent {
  font-weight: 600;
}

.card {
  background-color: white;
  margin-top: 1rem;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0px 10px 0px -3px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: var(--color-neutral-dark-blue);
  font-weight: 500;
  margin-bottom: 1rem;
}

.card__btn-submit {
  color: white;
  background-color: var(--color-primary-green);
  border: transparent;
  border-radius: 0.5rem;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 0.9rem;
  width: 100%;
  box-shadow: 0px 10px 0px -5px rgba(0, 0, 0, 0.1);
}

.card__btn-submit:hover {
  background-color: hsl(154, 57%, 42%);
  transition: all 0.15s ease-in-out;
}

.card__category {
  position: relative;
}

label {
  position: absolute;
  top: 1.8rem;
  transform: translateY(-50%);
  left: 1.5rem;
  color: var(--color-neutral-dark-blue);
  font-weight: 600;
}

input {
  width: 100%;
  height: 3.5rem;
  padding: 1.5rem;
  border-radius: 0.2rem;
  border: 1px var(--color-grayish-blue) solid;
  font-weight: 600;
  color: var(--color-neutral-dark-blue);
}

input.error {
  outline: 2px var(--color-primary-red) solid;
}

input:focus {
  outline: 1px black solid;
}

.card__p {
  color: var(--color-grayish-blue);
  font-size: 0.7rem;
  line-height: 1.5;
  padding: 0.3rem 1rem;
}

a {
  color: var(--color-primary-red);
  font-weight: 900;
  cursor: pointer;
}

a:hover {
  color: hsl(0, 38%, 50%);
}

.moveup {
  transform: translateY(-210%);
  background-color: white;
  color: var(--color-primary-red);
  transition: all 0.15s ease-in-out;
  font-size: 0.9rem;
}

.hidden {
  display: none;
}

.errorMsg {
  margin-top: 0.5rem;
  text-align: right;
  color: var(--color-primary-red);
  font-size: 0.9rem;
}

.errorIcon {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}

@media screen and (min-width: 760px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: left;
  }

  .intro {
    width: 40rem;
    padding: 3.5rem;
  }

  main {
    width: 35rem;
    line-height: 1.5;
  }

  .card {
    margin-top: 1.5rem;
    padding: 2.5rem;
  }

  h1 {
    font-size: 3.2rem;
  }

  .card__btn-submit {
    padding: 1.3rem;
    font-size: 1rem;
  }

  input {
    padding: 1.5rem 2rem;
  }

  label {
    left: 2rem;
  }
}
